@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer > p {
  font-size: 24px;
}

.onhover_hide {
  opacity: 0;
}

.onhover_show {
  opacity: 1;
}